@font-face {
	font-family:"OpenSans";
 	src: url("/home/gerardo/Documents/Internship/INTERNSHIP-EXERCISE1/fonts/OpenSans-ExtraBold.ttf");
    }


#header{
	background:  url("/home/gerardo/Documents/Internship/INTERNSHIP-EXERCISE1/images/gray.jpg");
	background-size: 100%;
	width: 1350px;
	height: 180px;
	box-shadow: 0px;
	
}

#logo{
	font-family:OpenSans;
        vertical-align:text-bottom;
        letter-spacing: -8px;
	color: #3C3B3F;
	font-size: 100px;
        padding-top: 50px;
        padding-bottom: 0px;
	margin-bottom: 0px;
}


#firstNames{
	
        font-family:OpenSans;
	margin-top: -120px;
        padding-left:200px;
	color: #3C3B3F;
}
#firstNames ul{
	
	list-style: none;
	margin-top: 65px;
	margin-bottom: 0px;
}

#firstNames ul li{

	font-size: 20px;
	color: #3C3B3F;
	margin-top: 0px;
	margin-bottom: -50px;

}

#navigate{
	
	font-family:Lobster;

}
#navigate ul{

	text-decoration: none;
	list-style: none;
	margin: 0px;
	padding-top: 30px;
	padding-right: 50px;
}

#navigate ul li{
	
	float: right;
	display: inline;
        text-align: right;

}
#navigate ul li a{

	text-decoration: none;
	font-size: 30px;
	color: #3C3B3F;

}

#navigate a:link, #navigate a:visited {
        
	display: inline-block;
	padding: 10px 30px;
        height: 33px;
}

#navigate a:hover{
        background-color: #CF5C3F;
        border-radius: 25px;
        font-size: 30px;
}

/*END OF HEADER CSS*/
article{
	
	float: left;
	margin-top: 10px;
	clear: both;
	width: 70%;

}
#pic{

	margin: 20px 20px;
	float: left;
	

}

#mainArticle{
	
	background-color: #F2F2F2;
	border-radius: 20px;
	float: left;
}

#content{

	text-align: justify;
	margin: 20px 20px; 
}

footer{

	color: #594138;

}

#sidebar{

	text-align: center;
	margin: 10px 0px 0px 10px;
	padding: 0px;
	float: right;
	background-color: #F2F2F2;
	border-radius: 20px;
}

#articleContent h2{
		
	margin-top: 0px;
	margin-left: 10px;
	padding: 0px;	
}

#articleContent ul li{
		
	margin: 0px;
	padding: 0px;	
}




/*
#mainArticle{

	color: #000;
	position: relative;
	left: 20px;
	top: 250px;
	width: 50%;
	margin: 0px;
	
}

#mainArticle #content{

	
	color: #000;
	padding: -50px 0px;
	margin: -50px 0px;
	clear: both;

}
*/

/*
.fname li{
        font-size: 22px;
        list-style: none;
        color: #3C3B3F;
        margin: -5px -5px;

}

.navigate ul{
	list-style: none;
	margin-top: -40px;
        padding-top: 0px;
        padding-right: 50px;
        padding-bottom: 20px;
} 
.navigate ul li{
	float: right;
	display: inline;
        text-align: right;
 
}

.navigate a:link, .navigate a:visited {
        font-family:
	color: #000;
	display: inline-block;
	padding: 10px 25px;
        height: 30px;
}

.navigate a:hover{
        background-color: #3C3B3F;
        border-radius: 25px;
        font-size: 22px;
}
*/


